.signPg{
    background-color: #f6faf4;
    margin: 0;
    height: 100%;

    overflow-y: hidden;
}
#underlineIn{
    position:absolute; 
    top: 60px;
    right: 150px;
}
#underlineUp{
    position:absolute; 
    top: 60px;
    right: 45px;
}

.signHeader{
    padding: 25px;
    padding-bottom: 0px;
    text-align: right;
}
.signHeader a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    padding-right:40px;
}

.signBody{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-decoration: none;
    font-weight: none;
}
#signupSign , #signinSign{
    font-size: 64px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: 0px;
    text-align: center;
}
#signupSlogan , #signinSlogan{
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
}
.signBody table{
    margin-left:auto;
    margin-right:auto;
}
.signBody td{
    padding-left: 9px;
    padding-right: 9px;
}
label{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    padding: 5px;
    font-size: 14px;
    height: 40px;
    width: 300px;
    left: 329px;
    top: 306px;
    border-radius: 10px; 
    background-color: lightgrey;
    cursor: text; 
    border: none;
}
#fp{
    text-align: right;
}
#forgotpw{
    font-size: 14px;
    vertical-align: middle;
}

#cbc {
    height: 14px;
}
#cb {
    background-color: black;
    opacity: 100%;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: #808080;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid #808080;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    cursor: pointer;

    place-content: center;
}
input[type="checkbox"] {
    /* ...existing styles */
    display: inline-grid;
    place-content: center;  
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #808080;
} 
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
#cbc label{
    font-size: 13px;
    font-weight: lighter;
    vertical-align: middle;
}
.tcc{
    color: #808080;
}

#submitBtnRow {
    text-align: center;
}
#submitBtn {
    margin-left: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease-in-out 0s;

    height: 40px;
    width: 300px;
    left: 329px;
    top: 306px;
    border-radius: 10px;
    background-color: #d9ead3;
    cursor:text;

    border: none;
    cursor: pointer;
}
#submitBtn:hover {
    background-color: #d9ead39b;
}
#submitBtn:active {
    color:black;
}

.signFooter{
    position: absolute; 
    bottom: 0;
    left: 0;
    width:100%;
}

body{
    height: 100%;
}